.login {
    background: #0D274D;
    box-sizing: border-box;
    color: white;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }
  
  .logo {
      display: block;
      background-image: url("../scss/images/icons/cisco.svg");
      background-repeat: no-repeat;
      width: 83px;
      height: 48px;
  }
  
  
  h2 {
    min-width: 79px;
    min-height: 43px;
    color: white;
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 32px;
    line-height: 43px;
  }
  
  .title {
    font-weight: 700;
  }
  
  .version {
  
  }
  
  .imgContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    background-repeat: no-repeat;
    left: 90px;
  
    .landing_1 {
        background-repeat: no-repeat;
        background-image: url("../scss/images/icons/landing_1.svg");
    }
  
    .landing_2 {
        background-repeat: no-repeat;
        background-image: url("../scss/images/icons/landing_2.svg");
    }
  
    .landing_3 {
        background-repeat: no-repeat;
        background-image: url("../scss/images/icons/landing_3.svg");
    }
  }
  
  .input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
  }
  
  
  .pass, .user {
    min-width: 358px;
  }
  