.home {
    overflow-y: auto;
    .homeContainer{
        background-color: #fff;
            .sidebar{
               // background-color: transparent;
            }
            .header{
                margin-left: 135px;
            }

            .table{
                width: 80%;
                margin-left: 280px;
                flex: 6;
            }
            .widgets{
                display: inline-block;
                margin-left: 280px;
                width: 100%;
            }
        }
    }
