.home {
    .homeContainer{
        background-color: #fff;
            .sidebar{
               // background-color: transparent;
            }
            .header{
                margin-left: 135px;
            }

            .table{
                width: 80%;
                margin-left: 280px;
                flex: 6;
            }
            .charts{
                margin-left: 500px;

            }
        }
    }
